<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.show.admin.scetc.mapper.BgmMapper">

    <select id="queryAll" resultType="Bgm" parameterType="String">
        select * from bgm
        <where>
            <if test="keyword != null and keyword !=''">
                and name like concat('%',#{keyword},'%')
            </if>
            <if test="title != null and title !=''">
                or author like concat('%',#{title},'%')
            </if>
        </where>
    </select>
    <select id="selectBgmByName" resultType="Bgm"
            parameterType="String">
        select *
        from bgm
        where name = #{name}
    </select>

</mapper>