<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imooc.mapper.BgmMapper">
  <resultMap id="BaseResultMap" type="com.imooc.pojo.Bgm">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="author" jdbcType="VARCHAR" property="author" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="path" jdbcType="VARCHAR" property="path" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.imooc.pojo.Bgm">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="author" jdbcType="VARCHAR" property="author" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="path" jdbcType="VARCHAR" property="path" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.imooc.pojo.Bgm">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="author" jdbcType="VARCHAR" property="author" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="path" jdbcType="VARCHAR" property="path" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.imooc.pojo.Bgm">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="author" jdbcType="VARCHAR" property="author" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="path" jdbcType="VARCHAR" property="path" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.imooc.pojo.Bgm">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="author" jdbcType="VARCHAR" property="author" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="path" jdbcType="VARCHAR" property="path" />
  </resultMap>
</mapper>