<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imooc.mapper.UsersLikeVideosMapper">
  <resultMap id="BaseResultMap" type="com.imooc.pojo.UsersLikeVideos">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="video_id" jdbcType="VARCHAR" property="videoId" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.imooc.pojo.UsersLikeVideos">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="video_id" jdbcType="VARCHAR" property="videoId" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.imooc.pojo.UsersLikeVideos">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="video_id" jdbcType="VARCHAR" property="videoId" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.imooc.pojo.UsersLikeVideos">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="video_id" jdbcType="VARCHAR" property="videoId" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.imooc.pojo.UsersLikeVideos">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="video_id" jdbcType="VARCHAR" property="videoId" />
  </resultMap>
</mapper>